<h1>Lister vos jeux vidéos préférés</h1>

<p>
	Cette appli intègre: <br>
	-La gem devise pour la gestion des comptes utilisateurs. <br>
	-La gem Active Admin pour la gestion des différentes tables utilisées. <br>
	-La gem Active Storage pour le stockage des différentes images.
</p>