<div class="border rounded w-50 mx-auto">

  <div class="bg-secondary rounded-top">
    <h2 class="text-center p-3 text-light">Ajout d'un jeu</h2> 

  </div>

  <div class="p-3">
		<%= render 'form', game: @game %>

		<%= link_to 'Retour', games_path %>
	</div>

</div>